@keyframes heartbeat {
    50% {
        transform: scale(1.2);
    }
}

@keyframes floatUp {
    to {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}

@media(max-width:600px) {

    h1 {
        font-size: 31px;
    }

    h2 {
        font-size: 25px;
    }

    .letter {
        padding: 25px 20px;
    }

    .container {
        padding: 45px 0;
    }
}
